In [6]:
3+4

7

In [10]:
var x = 5

In [11]:
x

5

In [5]:
x+5

10

In [8]:
version

Name: Compile Error
Message: <console>:13: error: not found: value version
              version
              ^
StackTrace:

In [9]:
%vars

Name: Error parsing magics!
Message: Magics [vars] do not exist!
StackTrace:

In [12]:
var x = 5

In [13]:
val y = 10

In [14]:
x = 6

In [15]:
y = 7

Name: Compile Error
Message: <console>:14: error: reassignment to val
       y = 7
         ^
StackTrace:

In [17]:
var x = 5

In [21]:
var x:Float  =6

Name: Syntax Error.
Message:
StackTrace:

In [26]:
x.getClass()

float

In [40]:
var y = 5

In [38]:
y.getClass

long

In [43]:
var z:Float = y

In [31]:
z.getClass

float

In [32]:
z

5.0

In [48]:
var name:String = "Sandeep"

In [49]:
name

Sandeep

In [66]:
println(name)
println(name.indexOf("deep"))

Sandeep
3

In [55]:
// this is my comment
2+3

5

In [60]:
/* 
this is part
multi line comment
*/

3+4

7

In [67]:
class Person(val fname: String, val lname: String, val anage: Int) {
    val firstname:String = fname;
    val lastname: String = lname;
    val age = anage;
}

In [73]:
val obj = new Person("Robin", "Gill", 42);

In [71]:
println(obj.age)
println(obj.firstname)

42
Robin

In [74]:
obj.getClass

class $iwC$$iwC$Person

In [81]:
class Person(val fname: String, val lname: String, val anage: Int) {
    val firstname:String = fname;
    val lastname: String = lname;
    val age = anage;
    def getFullName():String = { 
        return firstname + " " + lastname;
    }   
}

In [89]:
val obj1 = new Person("Robin", "Gill", 42);
val obj2 = new Person("Robin1", "Gill", 42);

In [90]:
obj1.getFullName

Robin Gill

In [91]:
obj2.getFullName

Robin1 Gill

In [95]:
object Hello {
    def message(): String = {
        return "Hello!!!";
    }                   
}

In [96]:
var x = new Hello()

Name: Compile Error
Message: <console>:12: error: not found: type Hello
       var x = new Hello()
                   ^
StackTrace:

In [85]:
Hello.getClass

class $iwC$$iwC$$iwC$$iwC$Hello$

In [6]:
// which ide are we going to use while devloping spark?
// Mostly, we are going to use Jupyter or REPL
// Build application - Eclipse - Scala IDE

Name: Syntax Error.
Message:
StackTrace:

In [11]:
var x = 20;
if( x < 20 ){
    println("x is less than 20");
}
println("Done!")
print(x < 20)

Done!
false

In [10]:
var a = 10;
// while loop execution
while( a < 20 ){
    println( "Value of a: " + a );
    a = a + 1;
}

Value of a: 10
Value of a: 11
Value of a: 12
Value of a: 13
Value of a: 14
Value of a: 15
Value of a: 16
Value of a: 17
Value of a: 18
Value of a: 19

In [3]:
var a = 40;
// do loop execution
do {
   println( "Value of a: " + a );
   a = a + 1;
}
while( a < 20 )

Value of a: 40

In [11]:
1 to 10

Range(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [12]:
var a = 0;

// for loop execution with a range
for( a <- 1 to 10){
   println( "Value of a: " + a );
}

Value of a: 1
Value of a: 2
Value of a: 3
Value of a: 4
Value of a: 5
Value of a: 6
Value of a: 7
Value of a: 8
Value of a: 9
Value of a: 10

In [18]:
def add(x : Int, y : Int) : Int = {
    return x + y  
}
var s = add(12,13)
println(s)

Name: Compile Error
Message: <console>:13: error: method add has return statement; needs result type
       return x + y
       ^
StackTrace:

In [17]:
def add(x : Int, y : Int) = {
    print("Do something")
    x + y
}
add(12,13)

Do something

25

In [19]:
def add(x : Int, y : Int) = x + y

In [20]:
var languages = Array("Ruby", "SQL", "Python")

In [23]:
languages(1) = "C++"

In [24]:
languages

Array(Ruby, C++, Python)

In [35]:
for( l <- languages){
   println( "Value of a: " + l.toUpperCase().reverse)
   
}

Value of a: YBUR
Value of a: ++C
Value of a: NOHTYP

In [40]:
var lang1 = languages :+ "scala"
lang1

Array(Ruby, C++, Python, scala)

In [41]:
languages

Array(Ruby, C++, Python)

In [42]:
var number_list = List(1, 2, 3)

In [48]:
number_list

List(1, 2, 3)

In [46]:
var n1 = number_list :+ 4

In [47]:
n1

List(1, 2, 3, 4)

In [51]:
var set = Set(76, 5, 9, 1, 1, 2);

false

In [57]:
var t = (14, 45.69, "Australia")

In [58]:
t._1

14

In [59]:
t._2

45.69

In [60]:
t._3

Australia

Name: Compile Error
Message: <console>:1: error: identifier expected but integer literal found.
       t[1]
         ^
StackTrace:

In [67]:
def sum_and_count(x:List[Int]): (Int, Int) = {
    var sum = 0
    var count = 0
    for( i <- x) {
        sum = sum + i
        count = count + 1
    }
    return (sum, count)
}

In [71]:
var t = sum_and_count(List(1,1,5))
t

(7,3)

In [ ]:
var x =